target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
.vscode/
*.iml

README_OLD.md
.openapi-generator/
conf/ds-image-analysis-environment.yaml
conf/ds-image-analysis-local.yaml

# Ignore files created by tests
src/test/resources/testBytes
src/test/resources/thousandBytes
